@font-face {
    font-display: swap;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    src: local("Rubik"), url("/fonts/rubik-v31-latin-300.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: local("Rubik"),
        url("/fonts/rubik-v31-latin-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    src: local("Rubik"), url("/fonts/rubik-v31-latin-500.woff2") format("woff2");
}
